main{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.skillDiv{
    width: 25%;
    border: 2px solid;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skillImgDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}
.skillImgDiv img{
    max-width: 100%;
    height: 40px;
}

.skillLink{
    display: inline;
    color: white;
    border: 0;
    background-color: transparent;
    width: auto;
    padding: 0;
}

.skillLink:hover{
    background-color: transparent;
}

footer{
    margin-top: 20px;
}