<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <% include("partials/header.ejs") %>
    <h1>Welcome to the <%= title %></h1>
    <p>This is a simple Express app with EJS.</p>
    <% include("partials/footer.ejs") %>
</body>
</html>