<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <%- include("partials/navbar") %>
    <script>activateNav("home")</script>
    <main>
        <h1>Elias Neerbye</h1>
        <p id="tagline">Fullstack Utvikler</p>
        <section id="desc">
            <div><img src="assets/elias.png" alt="Elias.png"></div>
            <p>Jeg er en elev fra Bleiker VGS som går Informasjonsteknologi VG2. Jeg liker å jobbe med IT, og å eksperimentere med nye ting. Nå for tiden jobber jeg med et nettside-prosjekt på siden av skolen, hvor jeg prøver å kombinere forskjellige populære tjenester med hverandre.</p>
        </section>
        <section id="projects">
            <h2>Prosjekter</h2>
            <div id="projects">
                <div class="projectDiv" id="workWithApi">
                    <h3>Bruk av API</h3>
                    <p>I dette prosjektet jobbet jeg med å bruke forskjellige API'er for å lage spennende sider.</p>
                </div>
                <div class="projectDiv" id="passwordManager">
                    <h3>Passord Behandler</h3>
                    <p>Jeg ønsket å sjekke ut hvordan det var å jobbe med C#, og lagde dette programmet som lar deg lagre passord.</p>
                </div>
            </div>
            <a href="/projects">Se flere...</a>
        </section>
    </main>
    <script src="js/home.js"></script>
    <%- include("partials/footer") %>
</body>
</html>