/* Grabbed from tutorial, widh some modifications */
body {
  margin: 0;
  overflow-x: hidden;
}
canvas {
  position: absolute;
  inset: 0;
  display: none;
}
button {
  border: 0;
  outline: none;
  background: #00000070;
  color: #FFFFFF;
  padding: 4px 8px;
  height: 30px;
  min-width: 30px;
  border-radius: 24px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}

/* Camera Container */
.camera-ctn {
  position: relative;
  background: #000000;
}
.camera-view video {
  height: 95vh;
  width: 95vw;
  margin: auto;
  object-fit: cover;
  transform: scaleX(-1);
}

/* CAMERA BOTTOM */
.camera-bottom {
  height: 250px;
  background: #00000050;
  position: absolute;
  inset: 0;
  top: auto;
  padding: 0 5%;
  display: grid;
  place-items: center;
}

/* SHUTTER CONTAINER */
.shutter-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.previous-shots {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 1px solid white;
}
.shutter {
  height: 80px;
  width: 80px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 1px solid red;
}
.shutter:active {
  transform: scale(0.8);
}

/* GALLERY VIEW */
.gallery-view {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: #000000;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  transform: translateX(100vw);
}
.gallery-view.show-gallery {
  transform: translateX(0);
}
.gallery-view img {
  height: 100vh;
  object-fit: contain;
}
.gallery-view button {
  position: absolute;
  top: 45%;
  left: 5%;
  font-size: 1.2rem;
}
.gallery-view button#next {
  right: 5%;
  left: auto;
}
.gallery-view button#close-gallery {
  left: 5%;
  top: 5%;
}