main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pagebuttons{
    width: 25%;
    height: 30%;
    font-size: 1.5rem;

    background-color: #FFC0CB;
    color: #333333;
}