body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.algorithm {
    text-align: center;
    margin: 20px;
}

.algorithm canvas {
    border: 1px solid #ddd;
    background-color: #fff;
}
