main{
    width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.25rem;
}

button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

main div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    border-radius: 50px;
    border: 5px solid black;
    transition-duration: 0.5s;
}

main div img{
    max-width: 100%;
    border-radius: 50px;
}

main div:hover{
    transform: scale(1.5);
    z-index: 1;
    background-color: purple;
}

@media (max-width: 768px){
    main{
        width: 90%;
    }
}